.formWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../signin/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.form {
  text-align: center;
  width: 40%;
  margin: auto;
  position: relative;
}

.inputs {
  width: 98%;
  padding: 10px 0;
  margin: 10px 0;
  padding-left: 5px;
  border-radius: 25px;
  border: 2px solid #aaa;
}

.btn {
  padding: 10px 30px;
  border-radius: 25px;
  border: none;
  background-color: #ff6026;
  color: #fff;
  font-weight: bolder;
}

.password {
  border: 2px solid #ff6026;
}

.inputs:focus {
  outline: none;
}

.linkcon {
  margin: 40px 0;
}

.link {
  text-decoration: none;
  border: 2px solid #aaa;
  color: #000;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 20px;
  font-weight: bold;
}

.link:hover {
  background-color: #000;
  color: #fff;
  border: 2px solid #aaa;
}
